.canvas-container {
    position: relative;
    margin-right: 30px;
    overflow: hidden;

    position: relative;
    display: flex;
    align-items: center;
    flex-flow: column;
    justify-content: center;
    // margin-top: 16px;

    .text1,
    .text2 {
        position: absolute;
        margin: 0;
        width: 100%;
        font-family: Impact, "Comic Sans MS", "Arial Narrow Bold", Arial, Helvetica, Times, sans-serif;
        font-size: 48px;
        text-align: center;
        text-transform: uppercase;
        color: #fff;
        /* text-shadow: 0px 0px 2px black; */
        -webkit-text-stroke: 3px black;
        line-height: 1;
    }
    .text1 {
        font-weight: bolder;
        top: 16px;
        // top: 3%;
        // left: 40%;
        // text-shadow: 0px 0px 4px white;
    }
    .text2 {
        font-weight: bolder;
        bottom: 32px;
        // bottom: 5%;
        // left: 40%;
        // text-shadow: 0px 0px 4px white;
    }
    img.canvas-img {
        // width: 100%;
        // object-fit: contain;
        // max-height: 60vh;

        max-width: 520px;
        height: auto;
        max-height: 500px;
        object-fit: contain;
    }
}
