.edit-container {
    padding-bottom: 6vh;
    width: 40vw;
       @include for-normal-layout {
        width: 100%;
        padding-bottom: 0;
    }
}

.meme-name {
    text-align: center;
    margin-bottom: 4vh;
}

