.gallery-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 22px;
  padding-bottom: 80px;

  .card {
    text-align: center;
    cursor: pointer;
  }

  img.meme-img-preview {
    width: 100%;
    object-fit: cover;
    height: 150px;
  }
}
