.gallery-title {
    font-size: 2.05rem;
    padding: 2.05rem;
    text-align: center;
    font-family: montserrat, sans-serif;
}

.home {
    text-align: center;

    img.welcome-pic {
        width: 35%;
        margin: 8vh 0 3vh 0;
    }

    .hello {
        flex: 1;
    }
}

.logo {
    padding: rem(20px);
    width: 140px;

    @include for-normal-layout {
        width: auto;
    }
}
header {
    display: flex;
    align-items: center;
    flex-direction: column;

    @include for-normal-layout {
        height: 86vh;
    }
}

#nav {
    a {
        background: green;

        &:first-child {
            background-color: red;
        }

        body.homepage & {
            color: gold;
        }
    }
}

body.homepage #nav a {
}
