section.meme-container {
    padding: 40px 25px;
    height: 90vh;
}

.meme-pic-edited {
    width: 46vw;
    min-width: 300px;
}

.alice-carousel {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    margin: auto;
    direction: ltr;
    max-width: 50vw;
    max-height: 15vh;
}

.alice-carousel__wrapper {
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
    width: 100%;
    height: auto;
}

li.alice-carousel__stage-item {
    width: 90px !important;

    img.carousel-pic {
        width: 50%;
        height: inherit;
        object-fit: contain;
    }
}

.alice-carousel__stage-item {
    padding-left: 5px;
    padding-right: 5px;
    box-sizing: border-box;
}

ul.alice-carousel__dots {
    display: none;
}

.alice-carousel__prev-btn,
.alice-carousel__next-btn {
    width: 50%;
    padding: 0px 5px;
}

.alice-carousel__prev-btn-item,
.alice-carousel__next-btn-item {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
        box-shadow 0.15s ease-in-out;
    border-color: #007bff;
}
